table {
    border: 10px solid;
    /* border-collapse: collapse ; */
    border-color: blue;
    font-size: larger;
    text-align: right;
    padding: 10px;
    border-spacing: 5px;
}

th,td{
    border: 9px solid;
    border-collapse: collapse;
    border-color: chocolate;
    padding-top:  10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
}



